html, body {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    
    
}
ul {
    list-style: none;

}
a {
	color:#666;
	text-decoration: none;

}
li {
	margin-bottom: 1.36364em;
	font-size: 0.6875em;
}
#mainNav{
  height: 100%;
  padding:0;
  transform: translate(-1%, 5%);
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
}