article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block
}
audio,
canvas,
video {
    display: inline-block
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden] {
    display: none
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body {
    margin: 0
}
a:active,
a:hover {
    outline: 0
}
h1 {
    font-size: 2em
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: bold
}
dfn {
    font-style: italic
}
mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 0
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}
legend {
    border: 0;
    padding: 0
}
a:hover,
a:focus {
    color: #fff;
    background-color: red
}
ul {
    list-style: none;
    padding: 0
}
h1 {
    font-size: 1.3636363636em;
    margin: 0
}
h2 {
    font-size: 1em;
    margin-top: 0
}
p {
    font-size: 1em;
    margin-top: 0
}

select {
    border: 1px solid #999;
    display: block;
    font-family: 'Courier New', Courier, Monaco;
    font-size: 1.27273em;
    padding: 0
}
input,
select,
textarea {
    border: 1px solid black;
    font-family: 'Courier New', Courier, Monaco;
    padding: 0.18182em
}




html {
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none
}
.touch body {
    padding: 0
}
body {
    font-size: 0.6875em;
    height: 100%;
    min-width: 69.09091em !important;
    padding: 0 1.09091em
}
#header {
    background: transparent;
    height: 50%;
    margin: -20.45455em auto 4.09091em;
    position: relative;
    text-align: center;
    width: 100%
}

#header .logo {
    margin: 0 auto
}

.logo {
    font-size: 1em;
    width: 13.63636em
}
.logo a {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
    display: block;
    margin: 0 auto;
    background: url(https://i.imgur.com/SDkO9Fh.png) left top no-repeat;
    background-size: 13.63636em 4.09091em;
    width: 13.63636em;
    height: 4.09091em
}








#nav {
    line-height: 1;
    margin: 0 auto 3.63636em;
    width: 60.54545em;
    max-width: 100%
}

#nav ul {
    margin: 0
}
#nav li {
    display: inline;
    float: left;
    margin-right: 1.18182em;
    padding-bottom: 0.7em;
    position: relative
}




#nav li:last-of-type {
    margin-right: 0
}
#nav li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    top: 1.6em
}
#nav ul ul {
    display: none
}
#nav ul ul li {
    display: block;
    white-space: nowrap
}
#nav-main {
    float: left
}
.home {
    background: #000;
    color: #fff
}
.home #header {
    margin: 0 auto 0 auto;
    margin-top: -4.18182em;
    z-index: 1000
}
.home #nav {
    display: none
}
.home #wrap {
    height: auto;
    z-index: 1000
}
.home .logo {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
    display: block;
    margin: 0 auto;
    background: url(https://i.imgur.com/SDkO9Fh.png) left top no-repeat;
    background-size: 13.63636em 4.09091em;
    width: 13.63636em;
    height: 4.09091em
}
.home .logo:before {
    content: "";
    display: block;
    width: 0;
    height: 100%
}

.home nav {
    margin: 6.36364em 0 0 25.54545em;
    overflow: visible;
    width: 35em
}
.home .social a {
    color: #666
}
.home a {
    color: #fff
}
.home ul {
    margin: 0
}
.home li {
    margin-bottom: 1.36364em
}
.home li ul {
    display: none;
    padding-left: 0.72727em;
    white-space: nowrap
}
.home li:hover ul,
.home li:hover li {
    display: inline
}
#background-image-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0
}
#background-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    display: none
}


}

#social {
    margin-top: 35px
}


#social #instagram {
    background-position: 0px -20px
}


